<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Online Grocery Store</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
    <nav class="navbar">
        <ul>
          <li><a href="/">Online Grocery Store</a></li>
          <li><a href="/AllOrders">ALL ORDERS</a></li>
        </ul>
        </nav>
        <section>
            <table>
                <thead>
                    <tr>
                         <th>Name</th>
                         <th>Email</th>
                         <th>phone Number</th>
                         <th>Address</th>
                         <th>Bread</th>
                         <th>Milk </th>
                         <th>Softdrink</th>
                         <th>Subtotal</th>  
                         <th>Tax</th>  
                         <th>Total Amount</th>           
                     </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
         </section>
        </body>
        </html>